<nav class="container-fluid navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/dating.svg" alt="Dating App Logo" width="24" height="24">
        <span class="ms-2">Dating App</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- Show menu links only if logged in -->
         
          @if (this.isLoggedIn) {
            <div class="navbar-nav me-auto">
              <a class="nav-link">Matches</a>
              <a class="nav-link"  (click)="navigateToUserList()">Lists</a>
              <a class="nav-link">Messages</a>
            </div>
            <app-account></app-account>
           }
          @if(!this.isLoggedIn){
          <div class="me-auto"></div>
          <app-login></app-login>
         }
         
        </div>
        <!-- Show login component only if NOT logged in -->
        
      </div>
  </nav>